<html>
<head>
    <title>Hola mundo Vue</title>
    <!--Importar libreria Vue-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!--Codigo HTML ... -->
</head>

<body>
<div id="elemento">
    <h1>Saludos desde el server: {{saludo}}</h1>
</div>
<script>
    const app = new Vue({
        el: '#elemento',
        data () {
            return {
                saludo: "Hola"
            }
        },
        mounted () {
            axios.get('/saludar')
                .then(response =>
                    (this.saludo = response.data)
                )
        }
    });
</script>
</body>
</html>