<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prueba VUE</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id = "app">
    <h1>Prueba VUE</h1>
    <h2>Saludo: {{saludo.texto}}. Hoy es {{saludo.fecha}}</h2>
</div>
<script>
    const app = new Vue({
        el: '#app',
        data:   {
            saludo: {
                texto: "Hola UNI",
                fecha: "22/06/2019"
            }
        }
    });
</script>
</body>
</html>