<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Rapture Park</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="icon" type="image/vnd.microsoft.icon" href="img/Logo.ico">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.6/css/mdb.min.css" rel="stylesheet">
    <link href="https://file.myfontastic.com/cTYq33vgqKqFkXRm849TNA/icons.css" rel="stylesheet">
    <link rel="stylesheet" href="css/estilo1.css">
    <link href="https://file.myfontastic.com/cTYq33vgqKqFkXRm849TNA/icons.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet">
    <link href="css/estilo1.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>
    <section>
        <div class="col-md-12" style="padding-left: 0em;padding-right: 0em;">



        </div>
    </section>
    <form method = "post" action = "/shop/tickets">
        <section>
            <div class="text-center" style="margin-bottom:0;">
                <div style="position: relative;z-index:1;" >
                    <img src="img/fondodeparqueacuatico.jpg" class="img-fluid" style="filter:blur(3px);height: 100vh;"  >
                    <div class="container-fluid" style="position: absolute; z-index: 2; top:0%;padding-left:0em;padding-right:0em;">
                        <div class="row " style="font-size: 0.7em;" >
                            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 " style="background-color: rgba(0,0,0,0);">

                            </div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6" style="margin-bottom: 1em;margin-top: 1em">
                                <img src="img/Rapture%20TITULO.png"  class="img-fluid rounded mx-auto d-block" style="background-color: rgba(0,0,0,0);width: 100%;align-content: center" href="/">
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3" style="background-color: rgba(0,0,0,0);">

                                <div id="usuario_logeado" class="column right" >
                                    <!--<div v-if='usuarios[0].user_name != null'>
                                            <button type="button" class="btn btn-default btn-rounded" style="margin-top:4.5em;"><a href="/login" class="text-white font-weight-bold ">{{usuario[0].nombre}} &nbsp&nbsp</a></button>

                                            <a href="/login">
                                                <figure class="image">
                                                    <img src="https://image.flaticon.com/icons/svg/61/61623.svg" style="width: 3rem">
                                                </figure>
                                            </a>
                                        </p>
                                    </div>-->

                                    <div v-if='usuarios[0].user_name == null'>
                                        <button type="button" class="btn btn-default btn-rounded" style="margin-top:4.5em;"><a href="/login" class="text-white font-weight-bold ">Iniciar sesión</a></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <nav class="navbar navbar-collapse navbar-expand-sm bg-aquatic navbar-light sticky-top top-nav-collapse col-md-10 offset-md-1 fixed-top scrolling-navbar" style="background-color: #46aedd;font-size: 1.6em;" >
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
                                        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <a class=" col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 font-weight-bold  text-white" href="/atracciones"  >ATRACCIONES</a>
                                <a class=" col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 font-weight-bold  text-white" href="/tickets" >TICKETS</a>
                                <a class=" col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 font-weight-bold  text-white" href="/alojamiento" >ALOJAMIENTO</a>
                                <a class=" col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 font-weight-bold  text-white" href="/comidaybebida" >COMIDA Y BEBIDA</a>
                            </nav>
                        </div>


                        <div class="row " style="margin-top:20vh;">
                            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 " style="background-color: rgba(0,0,0,0);padding-right:0em">
                                <img src="img/mascota.png" class="img-fluid" style="margin-top:0vh;height: 48vh;">
                            </div>
                            <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 " style="background-color: rgba(0,0,0,0);padding-left:0em;margin-top:15vh;">
                                <div class="row " >
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                        <h1 style="color:#ffffff;text-align:left;font-size: 4.5em;margin-bottom: 0em;"  class="h1-responsive font-weight-bold">Temporada de verano 2019</h1>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-11">
                                        <h4 style="color:white;text-align:left;font-size: 2em;margin-left: 0.5rem;margin-top: 0em;" class="font-weight-bold"> Desde 06.04.2019 hasta 03.11.2019</h4>
                                    </div>

                                </div>

                                <div class="row" >
                                    <div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5" style="background: #35cddd;margin-left: 1.5rem;border-radius: 1%">
                                        <h5 style="color:rgb(255,255,255)">Nuevas atracciones en un vistazo</h5>
                                    </div>
                                    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 " style="background-color: rgba(0,0,0,0);"></div>
                                </div>
                                <div class="row">
                                    <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 " style="background-color: rgba(0,0,0,0);height:8em;padding-inline-end: 0em;padding-inline-start:0em;"></div>
                                    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 " style="background-color: rgba(0,0,0,0);height:8em;padding-inline-end: 0em;padding-inline-start:0em;">
                                        <div class="row">
                                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 " style="background-color: rgb(255,255,255);height:2em;padding-inline-end: 0em;padding-inline-start:0em;">
                                                <h6 style="color: rgb(0,115,171);margin-top:0.3em;font-size: 1.1em;margin-left: -2em">TICKETS Y PRECIOS</h6>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-11 " style="background-color: rgb(255,255,255);height:10em;padding-inline-end: 0em;padding-inline-start:0em;">
                                                <div class="row">

                                                    <table style="margin-left:2em;">
                                                        <tr>
                                                            <td><h6 style="margin-top:0.6em;margin-left:2em;padding-right:4em;" class="text-left info-color">N° Niños (4-11años): </h6></td>
                                                            <td> <input type = "number" name = "num_ninos"> </td>


                                                        </tr>
                                                        <tr>
                                                            <td><h6 style="margin-top:0.6em;margin-left:2em;padding-right:8em;" class="text-left info-color">N° Adultos: </h6></td>
                                                            <td> <input type = "number" name = "num_adultos"> </td>
                                                        </tr>
                                                        <tr>
                                                            <td><h6 style="margin-top:0.6em;margin-left:2em;padding-right:1em;" class="text-left info-color">N° Personas mayores (60+): </h6></td>
                                                            <td> <input type = "number" name = "num_ancianos"> </td>
                                                        </tr>
                                                        <tr>
                                                            <div class="row">
                                                                <td><h5 style="position:absolute;z-index:201;color: rgb(0,115,171);background-color:rgba(255,255,255,0);margin-top:0.6em;font-size: 0.9em;margin-left: 2.1em" class="font-weight-bold">Desde 44,50$/Día </h5></td>
                                                                <td> <input style="position:absolute;z-index:200;color: rgb(255,255,255);background-color:rgb(191,69,59);margin-top:0.2em;font-size: 0.9em;margin-left: -8.8em" class="font-weight-bold" type = "submit" name = "btn2" value = "Reserver tickets ahora"> </td>
                                                            </div>
                                                        </tr>
                                                    </table>
                                                </div>

                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9" style="background: white;margin-left: 1rem">

                                <div class="row">
                                    <h7 style="color:rgba(0,0,0,0);font-size: 0.5em;">asdasdwadawda</h7>
                                </div>

                                <div class="row">

                                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">

                                        <div class="row">
                                            <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">

                                            </div>
                                            <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                                                <img src="img/travellers-choice-award-2018.jpg" class="img-fluid">
                                            </div>
                                            <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
                                                <div class="row">
                                                    <h7 style="color:rgba(0,0,0,0);font-size: 0.5em;">asdasdwadawda</h7>
                                                </div>
                                                <h6 style="font-size: 0.9em;" class="text-left">Trip Advisor Travellers' Choice Award 2018 <br>
                                                    Parque temático más popular de Alemania</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                        <div class="row">
                                            <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">

                                            </div>
                                            <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                                                <img src="img/gta_2018_110px.jpg" class="img-fluid">
                                            </div>
                                            <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9" style="padding-left: 0em">
                                                <div class="row">
                                                    <h7 style="color:rgba(0,0,0,0);font-size: 0.5em;">asdasdwadawda</h7>
                                                </div>
                                                <h6 style="font-size: 0.9em;" class="text-left">Golden Ticket Award 2014|2015|2016|2017|2018<br>
                                                    por quinta vez consecutiva: Mejor Parque temático del mundo</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <h7 style="color:rgba(0,0,0,0);font-size: 0.5em;">asdasdwadawda</h7>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
    <!--<script>
        const app = new Vue(
        {
        el: '#usuario_logeado',
            data: {
            usuarios: []
        },
        created: function(){
            this.getUsuarios();
        },
        methods: {
            getUsuarios: function () {
                axios.get('http://localhost:8186/user_logeado')
                    .then(response => {
                        this.usuarios = response.data
                    }).catch( e => {
                    console.log(e)
                })
            }
        }
        }

    </script>-->



    <!-- Footer -->
    <footer class="page-footer font-small pt-12" style="background-color:#04a6d7">
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2018 Copyright: Todos los derechos reservados.</br>
            Desarrollado por estudiantes de FIIS-UNI.
        </div>
    </footer>
</body>
</html>