<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prueba VUE</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id = "app">
    <input v-model="texto" placeholder="Coloque saludo">
    <p> Saludo: {{texto}}</p>

</div>
<script>
    const app = new Vue({
        el: '#app',
        data:
            {texto: 'Hola mundo'}
    });
    //.. en cr
</script>
</body>
</html>