<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prueba VUE</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id = "app">
    <h1>Prueba VUE</h1>
    <h2> Usuarios </h2>
    <ul>
        <li v-for="c in clientes">
            Nombre: {{c.nombre}} {{c.apellido}}
        </li>
    </ul>
</div>
<script>
    cust1 = {nombre: "Juan", apellido: "Perez",
        email: "jperez@mail.com",
        rol: "Usuario"};
    cust2 = {nombre: "Ana", apellido: "Gil",
        email:"agil@gmail.com",
        rol: "Administrador"};
    cust3 = {nombre: "Ansdssa", apellido: "sdfsdf",
        email:"agd@gmail.com",
        rol: "Administrador"};
    lista = [cust1, cust2, cust3];
    const app = new Vue({
        el: '#app',
        data:   {clientes: lista}
    });
</script>
</body>
</html>